{% extends 'base.html' %}

{% block contenido %}

    Título: <h2>{{object.titulo}}</h2><br>
    Fecha: {{object.fecha}}<br>
    {{object.contenido|striptags}}<br>
    Autor: {{object.autor}}<br>
    Tags: {{object.tags}}<br>

    {% if object.adjunto.all %}
        Archivos adjuntos: <br>
        {% for archivos in object.adjunto.all %}
            <br>
            <a href="{{archivos.archivo.url}}"><img src="{{archivos.archivo.url}}" alt="{{ archivos.nombre }}"></img></a>
        {% endfor %}
    {% endif %}

{% endblock %}
